{% if page.image.feature %}

{% include head-dark.html %}

    <div id='bump'>
        <section class="article archive">
          <article class="archive-wrap">
            <!-- <img id="jathumb" src="images/jathumb.jpg"/> -->
            <!-- <figure><img src="/images/jathumb.jpg" /></figure> -->
            <figure><center><img src="images/rcabanas-circle.png" style="width: 280px;float: left;margin-right: 30px;margin-top: 10px;"/></center></figure>
            <br>
            <br>
            <p class="intro"> I am assitant professor in Statistics at the 
            <a href="https://www.ual.es/universidad/departamentos/matematicas/">Department of Mathematics</a>  at the University of Almería (Spain). 
            I have broad interests in probabilistic graphical models, machine learning, causality and counterfactual reasoning.</p>
            
            <p class="lead">
            rcabanas@ual.es
            
            <a href="https://scholar.google.com/citations?user=5ApYDHcAAAAJ&hl=en" class="icon">
              <i class="ai ai-google-scholar-square ai-1x"></i>
            </a>
            
            <!--a href="https://es.linkedin.com/in/andresmasegosa" class="icon">
              <i class="fa fa-linkedin-square"></i>
            </a-->
        	
            <a href="https://github.com/rcabanasdepaz" class="icon">
              <i class="fa fa-github fa-lg"></i>
            </a>

        	<!--a href="https://twitter.com/andresmasegosa" class="icon">
              <i class="fa fa-twitter fa-lg"></i>
            </a-->
            
            </p>
<!--             <br>
            <br>
              <ol class="post-list">
                  <lh style="text-align: center"><h2><span class="bb"><a href="/">{{ page.title }}</a></span></h2></lh>
                  {% for post in site.posts limit:5 %}
                  <li>
                     <a href="{{ site.url }}{{ post.url }}">
                     <div class="featured-image-small" style="background-image: url({{ site.url }}/images/{{ post.image.thumb }})">
                     </div>
                     </a>
                     <div class="deets left-slide" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                     <h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
                     {% if post.modified %}<p class="date"><span class="date"><time datetime="{{ page.modified }}" itemprop="dateModified">Updated on {{ post.modified | date: "%B %d, %Y" }}</time></span>{% else %}<p class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time>{% endif %}</p>
                     <p class="summary">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
                     </div>
                  </li>
                  {% endfor %}
              </ol> -->
          </article>
        </section>
    </div>
{% else %}

{% include head-dark.html %}

<section class="article pad-top">

{% endif %}

      <article class="wrap post">
        <header class="post-header">
          <hgroup>
            <!--<h1>{{ page.title }}</h1>-->
            <p class="intro">{% if page.description %}{{ page.description }}{% else %}{{ page.tagline }}{% endif %}</p>

          </hgroup>
        </header>

        {{ content }}

      <!-- <a class="share" href="https://twitter.com/intent/tweet?text=&quot;{{ page.title }}&quot;%20{{ site.url }}{{ page.url }}%20via%20&#64;{{ site.owner.twitter }}" data-dnt="true">Share</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->

      </article>
    </section>
</div>

{% include footer.html %}